<div class="row justify-content-between mt-3 mb-3 ml-3 mr-3">
  <% @cocktails.each do |cocktail| %>
<div class="card text-warning col-3">
  <%= cocktail.name %>
    <%= render 'drink', cocktail: cocktail %>
</div>
    <% end %>
</div>




