<div class="p-3 mb-2 bg-warning text-dark">
  <h1>Cocktail list</h1>
</div>

     <div class="btn btn-warinig font-italic">
      <i class="fas fa-glass-martini"></i>
      <div class="text-warning font-weight-bolder">
         <%= link_to 'create cocktail/drink', new_cocktail_path %>
      </div>
  </div>
<%= cl_image_tag("The-Simpsons-moes_sqlbns",
      width: 1368, height: 600, crop: :fill) %>
    </div>




      <div class="row justify-content-between">

     <% @cocktails.each do |cocktail| %>

      <div class="card text-warning col-3">
      <%= cocktail.name %>

      <%= render 'drink', cocktail: cocktail %>
      </div>
      <% end %>
      </div>




