<h1>Create cocktail</h1>

<%= render 'form', Cocktail: @cocktail %>
<!-- in the form partial. we can refer to @cocktail as, cocktail -->
<div class="btn btn-warning">
<%= link_to 'Back', cocktails_path %>
</div>

