.banner-button {
  border: solid white 1px;
  width: 200px;
  text-decoration: none;
  padding: 10px;
  box-shadow: 0.5px 0.5px 0.5px gray;
  border-radius: 5px;
}
.banner-button a {
  color: white;
}

.banner-button a:hover {
  color: gray;
  text-decoration: none;
}
