.navbar-lewagon {
  justify-content: space-between;
  background: #33180C;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: gray;
}
.login, .dropdown-menu, .dropdown-menu-right, .show {
  text-align: center;
  border-radius: 5px;
}
.login, .dropdown-menu, .dropdown-menu-right, .show a:hover {
  color: gray;
}
.nav-item, .dropdown, .avatar, .dropdown-toggle:hover {
  cursor: grab;
}
