<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mt-5">
      <%= simple_form_for[@cocktail, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.button :submit  class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>
